.card-input {
	width: 100%;
	display: none;
	margin: 6px 0;
	transition: display 0.3s;
	textarea {
		width: 100%;
		min-height: 60px;
		max-height: 300px;
		background: white;
		// box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		// 	0 1px 5px 0 rgba(0, 0, 0, 0.12);
		resize: vertical;
	}
	.btn-group {
		width: 100%;
		display: flex;
		margin-top: 5px;
		.button {
			width: 100%;
			height: 30px;
			line-height: 30px;
			font-size: 15px;
			box-sizing: border-box;
			border-radius: 4px;
			border: 1px solid #ddd;
			cursor: pointer;
			text-align: center;
			transition: color 0.2s;
			&.card-add {
				color: #ccc;
				background: white;
				margin-right: 5px;
				pointer-events: none;
				text-align: center;
			}
			&.card-close {
				background: white;
				color: #333;
			}
			&.enable-btn {
				pointer-events: auto;
				color: #3fa9ff;
				background-color: white;
			}
		}
	}
}
.open {
	display: inline-block;
}
