topic-element {
	display: inline-block;
}

.topic {
	width: 360px;
	padding: 16px 0;
	border-radius: 4px;
	background: lightgray;
	margin-right: 16px;
	.topic-header {
		display: flex;
		padding: 4px 16px;
		justify-content: space-between;

		.topic-header-child {
			display: flex;
			.card-count {
				margin-top: 1px;
				padding: 0 6px;
				margin-right: 8px;
				height: 18px;
				line-height: 22px;
				background: gray;
				border-radius: 2em;
				text-align: center;
				color: white;
			}
			i {
				cursor: pointer;
				margin-left: 4px;
				transition: color 0.15s;
				&.add.disabled {
					pointer-events: none;
				}
				&.close {
					font-size: 22px;
					line-height: 26px;
				}
				&:hover {
					color: #1e88e5;
				}
			}
		}
	}
	.topic-content {
		padding: 0 16px;
		overflow: auto;
		height: 735px;
		scroll-padding: 0px 0px 0px 0px;
	}
}

//1e88e5
