header {
	background: green;
	padding: 0px 20px;
	height: 55px;
	font-size: 20px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	#toggle {
		display: none;
	}
	.service-title {
		padding: 15px 0px;
	}
	.service-menu {
		align-items: center;
		padding: 10px 0px;
		pointer-events: visible;
		cursor: pointer;
		border-radius: 4px;
		transition: 0.15s;
		&:hover {
			font-weight: 900;
		}
		transform: translate3d(0, 0, 0);
		transition: transform 0.6s;
		.material-icons {
			padding-right: 5px;
		}
	}
	input[type='checkbox']:checked ~ label {
		transform: translate3d(-400px, 0, 0);
	}
}
