header {
	background: white;
	height: 65px;
	font-size: 20px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	z-index: 2;
	#toggle {
		display: block;
	}
	.service-title {
		color: #333;
		line-height: 67px;
		margin-left: 32px;
	}
	.service-menu {
		margin-right: 32px;
		align-items: center;
		line-height: 80px;
		pointer-events: visible;
		cursor: pointer;
		color: #333;
		border-radius: 4px;
		transition: 0.15s;
		&:hover {
			font-weight: 900;
			color: #3fa9ff;
		}

		transform: translate3d(0, 0, 0);
		transition: all 0.4s;
		.material-icons {
			font-size: 28px;
			padding-right: 5px;
		}
	}
	label.service-menu.open-slide {
		transform: translate3d(-360px, 0, 0);
		color: #3fa9ff;
	}
}
