loading-modal {
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.loading-container {
		width: 100%;
		height: 100%;
		background: #f5f8fa;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

$size: 80px !default;
$thickness: 6px !default;
$base-color: #f5f8fa !default;
$wheel-color: #3fa9ff !default;
$speed: 1000ms !default;

.loader {
	height: $size;
	width: $size;
	border: $thickness solid $base-color;
	border: {
		right-color: $wheel-color;
		top-color: $wheel-color;
		radius: 100%;
	}
	animation: spin $speed infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.close-loading {
	width: 0%;
	height: 0%;
	.loading-container {
		display: none !important;
	}
}
