// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
//   -ms-border-radius: $radius;
//   border-radius: $radius;
// }

// .box { @include border-radius(10px); }

* {
  margin: 0;
  padding: 0;
}

.application {
  width: 100%;
  background: #ccc;
  // border: 2px solid red;
}


header {
  padding: 24px 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .menu-icon {
    width: 30px;
    height: 30px;
    background: #fff;
  }
}