* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.application {
	width: 100%;
	height: 100vh;
}

.input {
	width: 100%;
	height: 45px;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 15px;
	padding: 5px 10px;
}

input::placeholder {
	color: #bbc0cd;
}

input:focus {
	outline: 0;
}

button:disabled {
	color: #8e929f !important;
	-webkit-text-fill-color: #8e929f !important;
	background-color: #fff;
}
