* {
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #3fa9ff;
}

body {
	overflow: hidden;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.application {
	width: 100%;
	height: 100vh;
	background: #f5f8fa;
}

// .input {
// 	width: 100%;
// 	height: 45px;
// 	border: 1px solid #d7d7d7;
// 	box-sizing: border-box;
// 	margin-bottom: 10px;
// 	font-size: 15px;
// 	padding: 5px 10px;
// }

input {
	padding: 8px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #3fa9ff;
	font-size: 15px;
	line-height: 1.2rem;
	color: #333;
}

textarea {
	padding: 8px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #1e88e5;
	font-size: 15px;
	line-height: 1.2rem;
	color: #333;
}

input::placeholder {
	color: #bbc0cd;
}

input:focus {
	outline: 0;
}

button:disabled {
	color: #8e929f !important;
	-webkit-text-fill-color: #8e929f !important;
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 5.2px;
}

::-webkit-scrollbar-track {
	background-color: #8e929f;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #404040;
}

::-webkit-scrollbar-thumb:active {
	background: #808080;
}

::-webkit-scrollbar-button {
	display: none;
}
