* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.application {
	width: 100%;
	height: 100vh;
	background: #ccc;
}
