.modal-area {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  // pointer-events: none;
  .modal-container {
    z-index: inherit;
    width: 460px;
    // height: 200px;
    // padding: 32px;
    border-radius: 4px;
    background: white;
    .title {
    padding: 20px 24px 10px;
      font-size: 22px;
      font-weight: 500;
      color: #333;
    }
    .content {
      padding: 8px 24px;
      overflow-y: auto;
      textarea {
        min-height: 120px;
        resize: vertical;
        max-height: 320px;
      }
      .text-input {
        padding: 8px;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #1e88e5;
        font-size: 15px;
        line-height: 1.2rem;
        color: #333;
      }
    }
    .button-zone {
      display: flex;
      justify-content: flex-end;
      padding: 8px 16px 16px;
      .button {
        pointer-events: visible;
        max-width: 64px;
        margin-left: 12px;
        padding: 10px 24px;
        cursor: pointer;
        color: #1e88e5 ;
        border-radius: 4px;
        transition: background 0.15s;
        &:hover {
          background: rgba(30, 136, 229, 0.1);
        }
      }
    }
  }
}

.modal-close {
  display:none;
}

.disabled {
  pointer-events: none !important;
  color: #ccc !important;
}